<div style= "padding-top: 4%; padding-left: 7%; padding-right: 7%" >
    <span>
        <table>
            <tr> 
                <td rowspan="2" align="left" style="padding-left: 50px"> 
                    <strong>Coordenador(a)</strong>: {{ coordenador }} <br>
                    <strong>Receptor(a)</strong>: {{ receptor }} <br>
                    <strong>Contato</strong>: (83) 9 9999-9999 <br>
                    <strong>Email</strong>: apenas_um_email@gmail.com
                </td>
            </tr>
        </table>
    </span>

    <div>
        <h3>Informações Pessoais:</h3>
        <p>Nome: {{ nome }} </p>
        <p>CPF: {{ cpf }} </p>
        <p>RG: {{ rg }} </p>
        <p>Gênero: {{ genero }} </p>
        <p>Estado Civil: {{ estado_civil }} </p>
    </div>
    <div>
        <h3>Informações de Contato:</h3>
        <p>Email: {{ email }} </p>
        <p>Telefone: {{ telefone }} </p>
        <p>Telefone2: {{ telefone_opcional }} </p>
    </div>
    <div>
        <h3>Endereço:</h3>
        <p>Rua: {{ rua }} </p>
        <p>Número: {{ numero }} </p>
        <p>Bairro: {{ bairro }} </p>
        <p>Cidade: {{ cidade }} </p>
        <p>UF: {{ uf }}</p>
        <p>CEP: {{ cep }} </p> 
        <p>Complemento: {{ complemento }} </p>
    </div>
    <div>
        <h3>Informações do Caso:</h3>
        <p>Histórico: {{ historico }} </p>
        <p>Observações: {{ observacoes }} </p>
    </div>
</div>